In [1]:
import pandas as pd

In [7]:
x = pd.read_parquet("./shop_scrap_page_card_data.parquet.gzip")

In [8]:
x[x["shop_product_card_id"] == 4116]

,shop_product_card_id,product_id,updated_at,original_price_currency,original_price,us_price,kor_price
56,4116,25551-OAT,2024-01-17 17:12:57,GBP,118.99,151.53,200000