In [1]:
import pandas as pd

In [13]:
x = pd.read_parquet("./20240131-102059.parquet.gzip")

In [14]:
x[x.shop_product_name.str.contains("david tc jacket")]

,shop_product_card_id,shop_product_name,shop_product_img_url,product_url,shop_name,brand_name,product_id,kor_price,us_price,original_price_currency,original_price,sold_out,candidate,coupon,updated_at
334,None,stone island david tc jacket 566605,https://www.18montrose.com/images/products/566...,https://www.18montrose.com/stone-island-david-...,_18montrose-56660503,stone island-sale,None,1857000,1396.46,GBP,1099.0,False,0,0,2024-01-31 10:21:28