In [2]:
import pandas as pd


data = pd.read_json("brand_list.json")

In [3]:
data['shop_name'].unique()

array(['18montrose', '24s', '24s_w', '43einhalb', 'aboutyou',
       'abovethecloudsstore', 'adidas kor official', 'adidas uk official',
       'afew-store', 'allikestore', 'aphrodite1994', 'asos',
       'asphaltgold', 'atmos-tokyo', 'baltini', 'bdgastore', 'beachim',
       'beamhill', 'calicoclubstore', 'capsuletoronto', 'carnivalbkk',
       'cettire', 'cliquelyf', 'club21', 'cncpts', 'coggles',
       'consortium', 'cotwohk', 'cotyle', 'crossoverconceptstore',
       'cultizm', 'def-shop', 'dtlr', 'end_clothing', 'farfetch_w',
       'fast-forward-fashion', 'feature_w', 'finishline', 'flatspot',
       'footasylum', 'footdistrict', 'footpatrol', 'gravitypope_m',
       'gravitypope_w', 'hanon-shop', 'harresoe', 'havenshop',
       'highsandlows_m', 'highsandlows_w', 'incu_m', 'incu_w', 'kith_m',
       'kith_w', 'knowear', 'laced', 'lelabostore', 'mrporter',
       'nakedcph', 'net-a-porter', 'nittygrittystore',
       'nittygrittystore_w', 'oallery', 'offspring', 'oluxury_m',
       'oluxury_w', 'oneblockdown', 'playgroundshop', 'rendez-vous-store',
       'rezetstore', 'salomon official', 'selfridges', 'sevenstore',
       'shoechapter', 'shooos', 'sivasdescalzo', 'size', 'slamjam',
       'sneakersnstuff', 'solebox', 'solestop', 'ssense', 'ssense_m',
       'ssense_w', 'stashedsf', 'suppastore', 'supplystore',
       'the-broken-arm', 'thehipstore', 'theoutnet', 'theoutnet_w',
       'tres-bien', 'upforward', 'uptherestore', 'urbanindustry',
       'urbanstaroma', 'usc', 'usgstore_m', 'vooberlin', 'woodwood',
       'workingclassheroes', 'xhibition', 'yoox_m', 'yoox_w', 'zalando',
       'zappos'], dtype=object)

In [5]:
brand_name = 'end_clothing'
shop_data = data[data['shop_name'] == brand_name]

shop_data

,shop_name,brand_name,brand_url
7002,end_clothing,032c,https://www.endclothing.com/kr/brands/032c
7003,end_clothing,1017 alyx 9sm,https://www.endclothing.com/kr/brands/1017-aly...
7004,end_clothing,3.paradis,https://www.endclothing.com/kr/brands/3-paradis
7005,end_clothing,424,https://www.endclothing.com/kr/brands/424
7006,end_clothing,66° north,https://www.endclothing.com/kr/brands/66-north
...,...,...,...
7666,end_clothing,wtaps,https://www.endclothing.com/kr/brands/wtaps
7667,end_clothing,y-3,https://www.endclothing.com/kr/brands/y-3
7668,end_clothing,ymc,https://www.endclothing.com/kr/brands/ymc
7669,end_clothing,yod and co,https://www.endclothing.com/kr/brands/yod-and-co
7670,end_clothing,yogi,https://www.endclothing.com/kr/brands/yogi

In [ ]:
shop_data.brand_name.unique()

In [7]:
shop_data["shop_name"] = "endclothing"

# shop_data = shop_data[shop_data["brand_name"].isin(["adidas originals","arc'teryx","columbia","helinox","new balance","patagonia","obey clothing","the north face","stussy","yeti","keen"])]

/var/folders/rh/7xnmdybn7778kzq927hfcn8c0000gn/T/ipykernel_89086/2600616681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shop_data["shop_name"] = "endclothing"

In [11]:

dict_data = shop_data.to_dict('records')
brand_list = shop_data.brand_name.tolist()

brand_data = {"brand_list":brand_list,"data":dict_data}

import json 
with open(f"{brand_name}.json","w") as f :
    f.write(json.dumps(brand_data,ensure_ascii=False))