In [2]:
import pandas as pd

pd.read_parquet("./20240104-000118-product-id.parquet.gzip")

   shop_product_card_id product_id
0                 12345     B75806

In [3]:
pd.read_parquet("./20240104-000118-size.parquet.gzip")

,shop_product_card_id,shop_product_size,kor_product_size,available,updated_at,product_id
0,12345,UK 3.5,220,True,2024-01-04 00:01:18,B75806
1,12345,UK 4,225,True,2024-01-04 00:01:18,B75806
2,12345,UK 4.5,230,True,2024-01-04 00:01:18,B75806
3,12345,UK 5,235,True,2024-01-04 00:01:18,B75806
4,12345,UK 5.5,240,True,2024-01-04 00:01:18,B75806
5,12345,UK 6,245,True,2024-01-04 00:01:18,B75806
6,12345,UK 6.5,250,True,2024-01-04 00:01:18,B75806
7,12345,UK 7,255,True,2024-01-04 00:01:18,B75806
8,12345,UK 8.5,270,True,2024-01-04 00:01:18,B75806
9,12345,UK 9,275,True,2024-01-04 00:01:18,B75806
10,12345,UK 9.5,280,True,2024-01-04 00:01:18,B75806
11,12345,UK 10,285,True,2024-01-04 00:01:18,B75806
12,12345,UK 10.5,290,True,2024-01-04 00:01:18,B75806
13,12345,UK 11,295,True,2024-01-04 00:01:18,B75806
14,12345,UK 11.5,300,True,2024-01-04 00:01:18,B75806
15,12345,UK 12,305,True,2024-01-04 00:01:18,B75806
16,12345,UK 12.5,310,True,2024-01-04 00:01:18,B75806
17,12345,UK 13,315,True,2024-01-04 00:01:18,B75806
18,12345,UK 13.5,320,True,2024-01-04 00:01:18,B75806