In [2]:
x = pd.read_parquet("./batch_prod_size_data.parquet.gzip")

In [3]:
x.drop(x.index[537], inplace=True)

In [6]:
x.to_parquet("./batch_prod_size_data.parquet.gzip")

In [4]:
x[x['sku'] ==138].iloc[-1]

sku                           138
size                          290
updated_at    2024-02-06 09:04:10
available                       1
Name: 536, dtype: object

In [6]:
x.to_json("test.json",orient="records")

In [17]:
x = pd.read_parquet("./shop_scrap_page_size_data.parquet.gzip")

In [21]:
x

,shop_product_card_id,shop_product_size,kor_product_size,available,updated_at,product_id,original_price
0,1388,XS,XS,True,2024-02-06 09:04:10,22835-NENA,£119.99
1,1388,Medium,M,True,2024-02-06 09:04:10,22835-NENA,£119.99
2,1388,Large,L,True,2024-02-06 09:04:10,22835-NENA,£119.99
3,6535,L,L,True,2024-02-06 09:04:10,X000008584,"₩541,642"
4,6535,XL,XL,True,2024-02-06 09:04:10,X000008584,"₩541,642"
...,...,...,...,...,...,...,...
902,11990,X-Large,XL,True,2024-02-06 09:04:10,no need,"₩98,475"
903,11999,Small,S,True,2024-02-06 09:04:10,no need,"₩142,281"
904,11999,Medium,M,True,2024-02-06 09:04:10,no need,"₩142,281"
905,11999,Large,L,True,2024-02-06 09:04:10,no need,"₩142,281"
906,11999,X-Large,XL,True,2024-02-06 09:04:10,no need,"₩142,281"

In [24]:
x = pd.read_parquet("./batch_shop_size_data.parquet.gzip")

In [26]:
x[x["shop_product_card_id"] ==9816]

,shop_product_size_id,shop_product_card_id,shop_product_size,kor_product_size,available,updated_at
636,14361,9816,UK 8.5,270,True,2024-02-06 09:04:10
637,14362,9816,UK 9,275,True,2024-02-06 09:04:10
638,14363,9816,UK 10.5,290,True,2024-02-06 09:04:10

In [27]:
# 11905
x = pd.read_parquet("./batch_prod_card_data.parquet.gzip")
y = pd.read_parquet("./batch_shop_card_data.parquet.gzip")

In [30]:
y[y["shop_product_card_id"] == 11905]

,shop_product_card_id,shop_product_name,shop_name,brand_name,product_id,shop_product_img_url,product_url,kor_price,us_price,original_price_currency,original_price,coupon,sold_out,candidate,updated_at
187,11905,adidas handball spezial - night cargo & tribe ...,endclothing,adidas,EF5748,"https://media.endclothing.com/media/f_auto,q_a...",https://www.endclothing.com/kr/adidas-handball...,129000,96.53,KRW,128775.0,0.0,True,2,2024-02-05 14:00:45