In [1]:
import pandas as pd

In [3]:
pd.read_parquet("./shop_scrap_page_size_data.parquet.gzip")

,shop_product_card_id,shop_product_size,kor_product_size,available,updated_at,product_id,original_price
0,4924,S,S,True,2024-01-23 00:05:54,NS278,£169.00
1,4924,M,M,True,2024-01-23 00:05:54,NS278,£169.00
2,4924,L,L,True,2024-01-23 00:05:54,NS278,£169.00
3,4945,M,M,True,2024-01-23 00:05:54,NS249,£105.00
4,4945,L,L,True,2024-01-23 00:05:54,NS249,£105.00
5,4945,XL,XL,True,2024-01-23 00:05:54,NS249,£105.00
6,4931,ONE SIZE,ONE SIZE,True,2024-01-23 00:05:54,NS301E,£125.00
7,4946,S,S,True,2024-01-23 00:05:54,NS249C,£115.00
8,4946,XL,XL,True,2024-01-23 00:05:54,NS249C,£115.00
9,5641,M,M,True,2024-01-23 00:05:54,MR069A,£45.00
10,4942,S,S,True,2024-01-23 00:05:54,NS247C,£129.00
11,4942,M,M,True,2024-01-23 00:05:54,NS247C,£129.00
12,4942,L,L,True,2024-01-23 00:05:54,NS247C,£129.00
13,4943,S,S,True,2024-01-23 00:05:54,NS247A,£115.00
14,4943,M,M,True,2024-01-23 00:05:54,NS247A,£115.00
15,4943,L,L,True,2024-01-23 00:05:54,NS247A,£115.00
16,4943,XL,XL,True,2024-01-23 00:05:54,NS247A,£115.00
17,4956,M,M,True,2024-01-23 00:05:54,MR069C,£45.00
18,4944,M,M,True,2024-01-23 00:05:54,NS247B,£109.00
19,4944,L,L,True,2024-01-23 00:05:54,NS247B,£109.00