In [2]:
import pandas as pd

pd.read_parquet('./231120-114523.parquet.gzip')

,shop_product_size,kor_product_size,shop_product_card_id,updated_at,available,product_id
0,8,8,2182,2023-11-20 11:43:21,True,DB3021
1,9,9,2182,2023-11-20 11:43:21,True,DB3021
2,9.5,9.5,2182,2023-11-20 11:43:21,True,DB3021
3,10,10,2182,2023-11-20 11:43:21,True,DB3021
4,11,11,2182,2023-11-20 11:43:21,True,DB3021
5,5.5,5.5,2187,2023-11-20 11:44:02,True,IE7427
6,8,8,2187,2023-11-20 11:44:02,True,IE7427
7,9,9,2187,2023-11-20 11:44:02,True,IE7427
8,11,11,2187,2023-11-20 11:44:02,True,IE7427
9,8,8,2199,2023-11-20 11:44:10,True,IG0671\t
10,9,9,2199,2023-11-20 11:44:10,True,IG0671\t
11,10,10,2199,2023-11-20 11:44:10,True,IG0671\t
12,11,11,2199,2023-11-20 11:44:10,True,IG0671\t
13,7,7,2219,2023-11-20 11:45:23,True,HQ6909
14,8,8,2219,2023-11-20 11:45:23,True,HQ6909
15,9,9,2219,2023-11-20 11:45:23,True,HQ6909
16,10,10,2219,2023-11-20 11:45:23,True,HQ6909