In [1]:
import pandas as pd


data = pd.read_json("brand_list.json")

In [2]:
data['shop_name'].unique()

array(['18montrose', '24s', '24s_w', '43einhalb', 'aboutyou',
       'abovethecloudsstore', 'adidas kor official', 'adidas uk official',
       'afew-store', 'allikestore', 'aphrodite1994', 'asos',
       'asphaltgold', 'atmos-tokyo', 'baltini', 'bdgastore', 'beachim',
       'beamhill', 'calicoclubstore', 'capsuletoronto', 'carnivalbkk',
       'cettire', 'cliquelyf', 'club21', 'cncpts', 'coggles',
       'consortium', 'cotwohk', 'cotyle', 'crossoverconceptstore',
       'cultizm', 'def-shop', 'dtlr', 'end_clothing', 'farfetch_w',
       'fast-forward-fashion', 'feature_w', 'finishline', 'flatspot',
       'footasylum', 'footdistrict', 'footpatrol', 'gravitypope_m',
       'gravitypope_w', 'hanon-shop', 'harresoe', 'havenshop',
       'highsandlows_m', 'highsandlows_w', 'incu_m', 'incu_w', 'kith_m',
       'kith_w', 'knowear', 'laced', 'lelabostore', 'mrporter',
       'nakedcph', 'net-a-porter', 'nittygrittystore',
       'nittygrittystore_w', 'oallery', 'offspring', 'oluxury_m',
       'oluxury_w', 'oneblockdown', 'playgroundshop', 'rendez-vous-store',
       'rezetstore', 'salomon official', 'selfridges', 'sevenstore',
       'shoechapter', 'shooos', 'sivasdescalzo', 'size', 'slamjam',
       'sneakersnstuff', 'solebox', 'solestop', 'ssense', 'ssense_m',
       'ssense_w', 'stashedsf', 'suppastore', 'supplystore',
       'the-broken-arm', 'thehipstore', 'theoutnet', 'theoutnet_w',
       'tres-bien', 'upforward', 'uptherestore', 'urbanindustry',
       'urbanstaroma', 'usc', 'usgstore_m', 'vooberlin', 'woodwood',
       'workingclassheroes', 'xhibition', 'yoox_m', 'yoox_w', 'zalando',
       'zappos'], dtype=object)

In [5]:
brand_name = 'urbanindustry'
shop_data = data[data['shop_name'] == brand_name]

shop_data

,shop_name,brand_name,brand_url
22035,urbanindustry,a. kjaerbede,https://www.urbanindustry.co.uk/collections/a-...
22036,urbanindustry,adidas originals,https://www.urbanindustry.co.uk/collections/ad...
22037,urbanindustry,adsum,https://www.urbanindustry.co.uk/collections/adsum
22038,urbanindustry,afield out,https://www.urbanindustry.co.uk/collections/af...
22039,urbanindustry,albam,https://www.urbanindustry.co.uk/collections/albam
...,...,...,...
22139,urbanindustry,utopian projects,https://www.urbanindustry.co.uk/collections/ut...
22140,urbanindustry,vans,https://www.urbanindustry.co.uk/collections/vans
22141,urbanindustry,wild things,https://www.urbanindustry.co.uk/collections/wi...
22142,urbanindustry,yeti,https://www.urbanindustry.co.uk/collections/yeti
22143,urbanindustry,yogi footwear,https://www.urbanindustry.co.uk/collections/yo...

In [9]:
shop_data.brand_name.unique()

array(['a. kjaerbede', 'adidas originals', 'adsum', 'afield out', 'albam',
       'and wander', "anderson's belts", 'anonymous ism', "arc'teryx",
       'battenwear', 'beams plus', 'brixton', 'by parra', 'cafe mountain',
       'carhartt wip', 'carrier goods', 'chaco', 'champion reverse weave',
       'clarks originals', 'columbia', 'converse', 'corridor', 'cotopaxi',
       'cremate london', 'danner boots', 'dickies', 'dispatches',
       'druthers', 'dsptch', 'earl of east', 'edwin', 'field notes',
       'filson', 'fjallraven', 'folk', 'frizmworks', 'goldwin',
       'good & well', 'good measure', 'gramicci', 'gregory packs',
       'gurus', 'haeckels', 'haglofs', 'helinox', 'heresy', 'jason markk',
       'karhu', 'kavu', 'keen', 'kinto', 'klattermusen', 'kuumba',
       'levis®', 'luxfort', 'manastash', 'merrell 1trl', 'millet',
       'mizuno', 'monokel eyewear', 'muro scents co.', 'mystery ranch',
       'nalgene', 'nanga', 'new balance', 'nike', 'nike acg',
       'nike apparel', 'nike sb', 'nike swim', 'norse projects',
       'novesta', 'obey clothing', 'on running', 'oscar deen', 'parlez',
       'patagonia', 'pendleton', 'piilgrim', 'poler', 'pompeii', 'rab',
       'red wing shoes', 'reebok', 'rototo', 'rumpl', 'salt and stone',
       'service works', 'sneaker freaker magazine', 'sneakers er',
       'snow peak', 'soar running', 'stan ray', 'stance', 'stussy',
       'subu', 'taion', 'teva', 'the north face', 'topo designs',
       'uniform bridge', 'universal works', 'urban industry', 'uskees',
       'utopian projects', 'vans', 'wild things', 'yeti', 'yogi footwear'],
      dtype=object)

In [10]:
shop_data["shop_name"] = "urban_industry"

shop_data = shop_data[shop_data["brand_name"].isin(["adidas originals","arc'teryx","columbia","helinox","new balance","patagonia","obey clothing","the north face","stussy","yeti","keen"])]

/var/folders/rh/7xnmdybn7778kzq927hfcn8c0000gn/T/ipykernel_66754/3394095994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shop_data["shop_name"] = "urban_industry"

In [11]:

dict_data = shop_data.to_dict('records')
brand_list = shop_data.brand_name.tolist()

brand_data = {"brand_list":brand_list,"data":dict_data}

import json 
with open(f"{brand_name}.json","w") as f :
    f.write(json.dumps(brand_data,ensure_ascii=False))